<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h1>員工管理系統</h1>
  <div v-if="!isLogin">
    <a href="">註冊</a>
<!--    javascript:void(0)廢掉超連接的跳轉功能-->
    <a href="javascript:void(0)" @click="login()">登入</a>
  </div>
  <div v-else>
    <input type="text" placeholder="員工姓名" v-model="newName">
    <input type="button" value="添加" @click="add()">
    <a href="javascript:void(0)" @click="logout()">退出登入</a>
  </div>

  <table border="1" >
    <caption>員工列表</caption>
    <tr>
      <th>編號</th>
      <th>姓名</th>
      <th v-if="isLogin">操作</th>
    </tr>
    <tr v-for="(name,i) in arr">
      <td>{{i+1}}</td>
      <td>{{name}}</td>
      <td v-if="isLogin"><input type="button" value="刪除" @click="del(i)"></td>
    </tr>
  </table>




</div>

<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
  let v = new Vue({
    el: "body>div",
    data:{
      isLogin:false,
      arr:["e","j","l"],
      newName:""
    },
    methods:{
      login(){
        v.isLogin = true;
      },
      logout(){
        v.isLogin = false;
      },
      add(){
        v.arr.push(v.newName)
      },
      del(i){
        v.arr.splice(i,1)
      }
    }
  })
</script>
</body>
</html>